:root {
    --close-button-bg-color: rgb(255, 255, 255);
}


.fullScreen {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 9999;
}

.closeButton {
    position: absolute;
    top: 50px;
    right: 10px;
    border-radius: 20px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    outline: none;
    background-color: var(--close-button-bg-color);
    border: none;
}