:root {
  --search-bg-color: rgb(245, 234, 234);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
